.hide {
    display: flex;
    background-color: white;
    /* padding: 0.1%; */
    /* width: 100px; */
    min-width: max-content;
    width: 185px;
    font-size: 80%;
    height: 23px;
    border: 1px;
    border-style: solid;
}
button {
    margin-left: 100px;
    height: 55%;
    width: 10%;
    color: black;
    background-color: rgba(222, 184, 135, 0.553);
}
#ca {
    width: 155px;
    font-size: 70%;
    height: 15px;
    padding: 1%;
}
#cc {
    width: 155px;
    font-size: 70%;
    height: 10px;
    padding: 1%;
}
p {
    display: flex;
    font-size: 25px;
    margin-left: 150px;
    
    text-align: left;

}
#line {
    display: flex;
}

#h1 {
    margin-top: -8px;
    font-weight: 400;
    font-size: 45px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px;
    border-color: black;
    border-bottom-style: solid;
    background: rgba(55, 199, 204, 0.881);
}
h2 {
    color: red;
    font-weight: 50;
    text-align: center;
    border-bottom: 1px;
    border-color: black;
    margin-top: -15px;
    padding-bottom: 5px;
    border-bottom-style: solid;
}
body {
    background-color: rgb(230, 241, 240);
}
